# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
infra/terraform.tfvars

# Node/npm
node_modules/

# Secrets and credentials
.env
*.json
!frontend/firebase.json
!package.json
!package-lock.json
!tsconfig.json
!components.json

# Build outputs
build/
dist/

# Firebase token
.firebase/

.DS_Store
*.zip
